<%= turbo_stream_from "notes" %>
<div class="container bg-white dark:bg-gray-900">
  <h1 class="text-center">学习笔记</h1>
</div>
<div class="relative overflow-x-auto">
    <h2 class="mb-4  text-xl font-bold text-gray-900 dark:text-white"></h2>
    <button
         type="button"
         class="inline-flex justify-end items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800"
        >
         <%= link_to "添加笔记", new_note_path, data: { turbo_frame: dom_id(Note.new)} %>
    </button>
    <%= turbo_frame_tag Note.new %>
    <%= turbo_frame_tag "notes" do %>
      <%= render @notes%>
    <% end %>

    <% if @pagy.count > @pagy.items %>
      <div class="">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>
</div>