<%= turbo_frame_tag note_item do %>
  <div class="">
    <div class="">
      <%= note_item.title %>
      <div class="">
        <%= note_item.description %>
      </div>
    </div>
    <div class="">
      <%= button_to "Delete",
                    [note, note_type, note_item],
                    method: :delete,
                    class: "" %>
      
                  <div class="flex justify-center m-5">
                <button data-modal-show="default-modal" class="block text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" type="button">
                  <%= link_to "编辑事项", [:edit, note, note_type, note_item],  data: { turbo_frame: "modal" } %>
                </button>
               </div>
    </div>
  </div>
<% end %>